{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block content %}

<title>Sanstuy Garage</title>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><span>Bengkel Santai !</span></h1>
    <h3 class="display-5"><span>Powered By Catur Wardana</span></h3>
  </div>
</div>
<!-- akhir Jumbotron -->

<div class="container">
  <!-- seperti apa -->
  <div class="row workingspace">
    <div class="col-lg-6">
      <img src="/static/img/fotobengkel.jpg" alt="fotobengkel" class="img-fluid rounded" />
    </div>
    <div class="col-lg-5">
      <h2>Seperti <span>Apa</span> Bengkelku <span>?</span></h2>
      <p>Bengkel saya mengutamakan santai, jika anda memperbaiki kendaraan disini dijamin kendaraan anda akan lama diperbaiki, namun itu karena kita santai maka nanti hasilnya akan maksimal walaupun lama jadi"</p>
    </div>
  </div>
  <!-- end seperti apa -->

  <!-- info mobil listrik -->
  <div class="row justify-content-center">
    <div class="col wadah-slur">
      <div class="col-lg text-center">
        <h1>Kita juga bisa memperbaiki atau mengerjakan mobil listrik</h1>
        <h5>Beberapa contoh kendaraan listrik yang kami kerjakan</h5>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <img src="/static/img/ev1.png" alt="Employee" class="img-fluid float-left" />
          <h4>Elektric vehicle EV1</h4>
          <p>2017</p>
        </div>
        <div class="col-lg text-center">
          <img src="/static/img/ev3.png" alt="HiRes" class="img-fluid float-left" />
          <h4>Elektric vehicle EV3</h4>
          <p>2019-2021</p>
        </div>
        <div class="col-lg text-center">
          <img src="/static/img/ev2.png" alt="Security" class="img-fluid float-left" />
          <h4>Elektric vehicle EV1</h4>
          <p>2018</p>
        </div>
      </div>
      <div class="col-lg text-center">
        <h2>Bengkel Sanstuy</h2>
        <p>"Bengkel ini tidak hanya mengerjakan kendaraan bermesin pembakaran, namun juga dapat memperbaiki mobil atau kendaraan listrik"</p>
      </div>
    </div>
  </div>
  <!-- end info mobil listrik -->
  <!-- Testimonial -->
  <section class="testimonial">
    <div class="row justify-content-center">
      <div class="col-lg-6 justify-content-center d-flex">
        <img src="/static/img/img1.png" alt="Testimonial 1" />
        <img src="/static/img/img2.png" alt="Testimonial 2" class="img-main" />
        <img src="/static/img/img3.png" alt="Testimonial 3" />
      </div>
    </div>
    <div class="row justify-content-center info-text">
      <div class="col-lg text-center">
        <h5>prinsip bengkel</h5>
        <p>Santuy | Chill | Tidak Gopo</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p>"Sabar - sabar - sabar. ~ Desur"</p>
      </div>
    </div>
  </section>
  <!-- end Testimonial -->
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#222831"
    fill-opacity="1"
    d="M0,64L80,58.7C160,53,320,43,480,74.7C640,107,800,181,960,181.3C1120,181,1280,107,1360,69.3L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
  ></path>
</svg>
{% endblock %}
