<!DOCTYPE html>
</html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet" />
  

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
  
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){
          
          window.addEventListener('scroll', function() {
              
            if (window.scrollY > 200) {
              document.getElementById('navbar_top').classList.add('fixed-top');
              // add padding top to show content behind navbar
              navbar_height = document.querySelector('.navbar').offsetHeight;
              document.body.style.paddingTop = navbar_height + 'px';
            } else {
              document.getElementById('navbar_top').classList.remove('fixed-top');
              // remove padding top from body
              document.body.style.paddingTop = '0';
            } 
          });
        }); 
        // DOMContentLoaded  end
        </script>

        <style type="text/css">
          .fixed-top {
              top: -40px;
              transform: translateY(40px);
              transition: transform .3s;
          }
        </style>
  </head>
  <body>

    <!-- ============= COMPONENT ============== -->
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark" style="background-color: #222831">
      <div class="container">
            <a class="navbar-brand" href="#">Sanstuy Garage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse" id="main_nav">

              <ul class="navbar-nav ms-auto">
                <li>
                <a class="nav-item nav-link active text-white tombol" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                {% if session['name'] %}
                <li>
                  <a class="nav-item nav-link text-white tombol" href="/acsesoris">Accesoris</a>
                </li>
                <li>
                  <a  class="nav-item nav-link text-white tombol" href="/jasa_service">Jasa Service</a>
                </li>
                <li>
                  <a class="nav-item nav-link text-white tombol" href="/sparepart">Sparepart</a>
                </li>

                <li>
                <a class="nav-item nav-link text-white tombol" href="/logout">Logout</a>
                </li>
                <li>
                  <a class="nav-item nav-link btn btn-primary text-white tombol" href="https://caturwardana.github.io/">Contact Me</a>
                </li>
                
                {% else %}
                <li>
                <a class="nav-item nav-link text-white tombol" href="/login">Login</a>
                </li>
                <li>
                <a class="nav-item nav-link text-white tombolS" href="/register">Register</a>
                </li>
                {% endif %}
              </ul>
    
          </div> <!-- navbar-collapse.// -->
      </div> <!-- container-fluid.// -->
    </nav>
                <!-- ============= COMPONENT NAVBAR END // ============== -->

   {% block content %} {% endblock %}

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>